@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Workflow Dashboard
    </title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
    <!-- CSS Files -->
    <link href="~/_content/Elsa.Dashboard/assets/css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />
    <link href="~/_content/Elsa.Dashboard/assets/css/elsa.css?v=1.1.0" rel="stylesheet" />
    <script type="module" src="~/_content/Elsa.Dashboard/assets/js/plugins/elsa-workflows/elsa-workflow-designer/elsa-workflow-designer.esm.js"></script>
    <script nomodule="" src="~/_content/Elsa.Dashboard/assets/js/plugins/elsa-workflows/elsa-workflow-designer/elsa-workflow-designer.js"></script>
</head>
<body>
    <!-- Values are hardcoded temporarily -->
    <button type="button" onclick="createWorkflow(1, 'Newly created workflow')">Create Workflow</button>
    <button type="button" onclick="loadWorkflow(1, '138afc8435404ca1a0f9668a34850c01')">Load Workflow</button>
    <button type="button" onclick="saveWorkflow(1, '138afc8435404ca1a0f9668a34850c01')">Save Workflow</button>
    <button type="button" onclick="publishWorkflow(1, '138afc8435404ca1a0f9668a34850c01')">Publish Workflow</button>

    <script src="~/_content/Elsa.Dashboard/assets/js/plugins/jquery/dist/jquery.min.js"></script>
    <script src="~/_content/Elsa.Dashboard/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/_content/Elsa.Dashboard/assets/js/workflow-standalone-editor.js"></script>
</body>
</html>

